@font-face {
    font-family: 'oswaldregular';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* phone  */
@media (max-width:1000px){
	body {
		margin:0;
	}

	.about {
		display:block;
	}

}

/* desktop  */
@media (min-width:1000px){
	body {
		margin-left:5vw;
		margin-right:5vw;
	}

	.about {
		display:none;
	}

}

.close-btn {
	float: right;
}

button {
	cursor: pointer;
}

header {
	min-height: 100px;
	height: 230px;
}

h1 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 3%;
	font-size: 50px;
}

h2 {
	text-align: center;
}

img {
	width: 100%;
}


/*// Styling the navigation bar //*/

:root {
	--topMargin: 7vw;
}

nav {
	margin: 0px 30px 0 0;

}

nav a {
    display: block;
	text-decoration: none;
	color: gray;
	margin: 0 10px;
	line-height: 70px;
	font-size: 2vw;

}

.topimg {
	position: fixed;
	top: -25vw;
	left: 0;
	z-index: 1000;
}


.mainMenu {
	display: grid;
    grid-template-columns: repeat( auto-fit, minmax(600px, 1fr) );
}

.mainMenuSection {
	width:100%;
	position: relative;
	background-image: url('img/lego1x1.png');
	background-repeat: repeat;
	background-size: 10px;
}
.gradient {
	position:absolute;
	z-index:-1000;
	width:100%;
	height:100%;
}

.bgColorRed { background-image: linear-gradient(0deg, #9f3224, red, #9f3224) }
.bgColorBlue { background-image: linear-gradient(0deg, #4298cc, #3BC1EA, #4298cc) }
.bgColorGreen { background-image: linear-gradient(0deg, #81bc00, #94C518, #81bc00) }
.bgColorYellow { background-image: linear-gradient(0deg, #cb9f00, #FED201, #cb9f00) }
.bgColorGray { background-image: linear-gradient(0deg, #787a79, #A6A4A4, #787a79) }


.topMenu {
	height: 2em;
	display:grid;
	grid-template-columns: 5fr 5em 7em 6em 6em 6em 6em;
	grid-gap: 1em;
	margin-top:3em;
	margin-bottom:3em;
}
.topMenuPosition {
	padding-top:0.3em;
	padding-bottom:0.3em;
	font-family: 'oswaldregular';
	font-size:1.5em;
	float:right;
	background:none;
	border:none;
}
.topMenuPosition:hover,
.topMenuSelected  {
	border-radius: 2em;
	background-color:black;
	color:white;
}

/*// Animating Logo //*/
.logoWrapper {
	float: left;
	max-width: 100%;
	transform: scale(0.3); 
	/* to scale the logo animation */
	position: relative;
}

.brick {
	position: absolute;
	width: 39px;
}

.redBlock {
	left: 165px;
	top: 76px;
	-webkit-animation: redDrop 0.2s linear;
	-moz-animation: redDrop 0.2s linear;
	-ms-animation: redDrop 0.2s linear;
	-o-animation: redDrop 0.2s linear;
	animation: redDrop 0.2s linear;
}

@keyframes redDrop {
	from {	top: -300px; }
}

.greenBlock {
	left: 165px;
	top: 31px;
	-webkit-animation: greenDrop 0.2s linear 0.3s backwards;
	-moz-animation: greenDrop 0.2s linear 0.3s backwards;
	-ms-animation: greenDrop 0.2s linear 0.3s backwards;
	-o-animation: greenDrop 0.2s linear 0.3s backwards;
	animation: greenDrop 0.2s linear 0.3s backwards;
}

@keyframes greenDrop {
	from { top: -300px;	}
}

.yellowBlock {
	left: 172px;
	top: -9px;
	-webkit-animation: yellowDrop 0.3s ease-out 0.6s both;
	-moz-animation: yellowDrop 0.3s ease-out 0.6s both;
	-ms-animation: yellowDrop 0.3s ease-out 0.6s both;
	-o-animation: yellowDrop 0.3s ease-out 0.6s both;
	animation: yellowDrop 0.3s ease-out 0.6s both;
}

@keyframes yellowDrop {
	0% { top: -300px; }
	70% {
		top: 4px;
		transform: rotate(0deg)
	}
	100% { transform: rotate(16deg)	}
}


.logo {
	position: absolute;
	max-width: 621px;
	min-width: 621px;
	-webkit-animation: fadein 1.5s;
	-moz-animation: fadein 1.5s;
	-ms-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	animation: fadein 1.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}


main {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(600px, 1fr) );
	grid-gap: 1.5em;  
}

article {
	border-radius: 40px;
	border-color: #000;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article section {
	position:relative;
}

.controls {
	position:absolute;
	left:30;
	bottom:0;
}


/* flip */
.under { display: none }
.turnDissapearC { animation: turnDissapear 0.5s linear forwards;}
.turnAppearC { animation: turnAppear 0.5s linear forwards; }

@keyframes turnDissapear {
	100% { transform: rotate3d(0, 1, 0, 90deg); }
}
						
@keyframes turnAppear {
	0% { transform: rotate3d(0, 1, 0, 90deg); }
	100% { transform: rotate3d(0, 1, 0, 0deg); }
}
